@using Newtonsoft.Json
@model List<u21650846_HW03.Models.PopularBooks>

<div>
    <h1>Popular Books Report</h1>
    <form method="post" asp-action="GenerateReport">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required>
        <br>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required>
        <br>
        <button type="submit">Generate Report</button>
    </form>
    <canvas id="popularBooksChart" width="400" height="200"></canvas>

</div>

@using (Html.BeginForm("SAVE", "PopularBooks", FormMethod.Post))
{
    <div id="file-generator" class="d-flex justify-content-end" style="padding-top: 10px;">
        <div class="btn-group">

            <div style="padding-right: 15px;">
                @Html.TextBoxFor(model => model[0].FileModel.FileName, new { @class = "form-control", style = "width: 300px;", placeholder = "Add File Name" })

            </div>
            @Html.DropDownListFor(Model => Model[0].FileModel.FileName,
              new[]
              {
                new SelectListItem() { Text = "DOCX", Value = ".docx" },
                new SelectListItem() { Text = "PDF", Value = ".pdf", Selected = true },
                new SelectListItem() { Text = "XPS", Value = ".xps" },
                new SelectListItem() { Text = "HTML", Value = ".html" },
                new SelectListItem() { Text = "MHTML", Value = ".mhtml" },
                new SelectListItem() { Text = "RTF", Value = ".rtf" },
                new SelectListItem() { Text = "XML", Value = ".xml" },
                new SelectListItem() { Text = "TXT", Value = ".txt" },
                new SelectListItem() { Text = "PNG", Value = ".png" },
                new SelectListItem() { Text = "JPEG", Value = ".jpeg" },
                new SelectListItem() { Text = "GIF", Value = ".gif" },
                new SelectListItem() { Text = "BMP", Value = ".bmp" },
                new SelectListItem() { Text = "TIFF", Value = ".tiff" },
                new SelectListItem() { Text = "WMP", Value = ".wmp" }
              },
                new { @class = "form-control", style = "width: 150px;" })

            
            <div style="padding-right: 15px; padding-left: 15px;">
                <input type="submit" class="btn btn-primary" value="Save" style="width: 150px;" disabled />
            </div>

        </div>
    </div>

}


<div>
</div>>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        $(document).ready(function () {
            // Enable the Download button when the file name field is not empty
            var fileNameField = $("input[name='FileName']");
            fileNameField.on("input", function () {
                var fileName = fileNameField.val();
                var saveButton = $("input[type='submit'][value='Save']");
                if (fileName.length > 0) {
                    saveButton.prop("disabled", false);
                } else {
                    saveButton.prop("disabled", true);
                }
            });
        });

        var ctx = document.getElementById('popularBooksChart').getContext('2d');
    var bookNames = @Html.Raw(JsonConvert.SerializeObject(Model.Select(x => x.BookName).ToList()));
    var borrowCounts = @Html.Raw(JsonConvert.SerializeObject(Model.Select(x => x.BorrowCount).ToList()));

    var chartData = {
        labels: bookNames,
        datasets: [{
            label: 'Borrow Count',
            data: borrowCounts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar', // Specify the chart type as 'bar'
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });



    </script>
}